.landing-page-container{
  background: #78B7B6;
  height: 100vh;
  /* background-image: url(https://wallpaperaccess.com/full/1947484.jpg);
    background-position: center;
    background-size: cover; */

}

form .proceed-button{
  width: 45%;
  border-radius: 50px;
  border: 2px solid #f2f5f4;
}

form .proceed-button:hover{
  background: #257A84;
  border: 2px solid #257A84;
}


@media screen and (max-width: 480px) {
  .kondisyon-logo  {
    margin: 0;
    transform: scale(0.55);
    padding: 0;
  }
}

  /* .justify-content-center {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    } */

@media screen and (max-width: 820px) {
  .landing-page-container  {
   margin: 0;
   display: flex;
   justify-content: flex-start;

   /* height: 100; */
  /* transform: scale(.7); */
   padding: 0;
  

 }
}
